__pycache__
.coverage*
docs/_build
docs/_autosummary
docs/tutorials/exercises
docs/tutorials/tutorials.zip
data
dist
*\.ipynb_checkpoints
.idea
.vscode
.pytest_cache
*.pyc
*.pyo
src/symbrim/_version.py
