# Based of: https://github.com/eeholmes/readthedoc-test
on:
  push:
    branches:
      - main
permissions:
  contents: write

jobs:

  deploy_docs_job:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install pandoc
        run: |
          sudo apt-get update
          sudo apt-get install pandoc
      - name: Create the tutorials' environment
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: docs/tutorials/tutorials_environment.yml
          init-shell: >-
            bash
            powershell
          cache-environment: true
          post-cleanup: 'all'
      - name: Deactivate the tutorials environment
        run: |
          source /usr/share/miniconda/etc/profile.d/conda.sh
          conda deactivate
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: uv sync --all-extras
      - name: make the sphinx docs
        run: |
          uv run make -C docs clean
          uv run make -C docs html
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
          force_orphan: true
