name: Tests

on:
  pull_request:
  push:
    branches:
      - main

jobs:

  #---------------------------------- download-data -----------------------------------#

  download-data:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Download parametrization data
        run: |
          git clone --depth 1 https://github.com/moorepants/BicycleParameters.git
          mv BicycleParameters/data data
          rm -rf BicycleParameters
      - name: Upload data directory
        uses: actions/upload-artifact@v6
        with:
          name: data
          path: data

  #----------------------------------- code-quality -----------------------------------#

  code-quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: uv sync --all-extras
      - name: Lint check with ruff
        run: uv run ruff check .

  #-------------------------------------- tests ---------------------------------------#

  tests:
    needs: code-quality

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Download data directory
        uses: actions/download-artifact@v6
        with:
          name: data
          path: data
      - name: Install dependencies
        run: uv sync --all-extras
      - name: Run tests
        run: uv run pytest -n auto

  #------------------------------------ doc-tests -------------------------------------#

  slow-tests:
    needs: tests

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: Download data directory
        uses: actions/download-artifact@v6
        with:
          name: data
          path: data
      - name: Install dependencies
        run: uv sync --all-extras
      - name: Run slow tests
        run: uv run pytest -n auto -m "slow"

  #------------------------------------ doc-tests -------------------------------------#

  test_docs_job:
    needs: code-quality

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install pandoc
        run: |
          sudo apt-get update
          sudo apt-get install pandoc
      - name: Create the tutorials' environment
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: docs/tutorials/tutorials_environment.yml
          init-shell: >-
            bash
            powershell
          cache-environment: true
          post-cleanup: 'all'
      - name: Deactivate the tutorials environment
        run: |
          source /usr/share/miniconda/etc/profile.d/conda.sh
          conda deactivate
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: uv sync --all-extras
      - name: make the sphinx docs
        run: |
          uv run make -C docs clean
          uv run make -C docs html

  #--------------------------------- test benchmarks ----------------------------------#

  test_benchmarks:
    needs: tests

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: Install dependencies
        run: uv sync --all-extras
      - name: Run benchmarks
        run: uv run pytest ./benchmarks/

    #--------------------------------- code-coverage ----------------------------------#

  code-coverage:
    needs: tests

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: Download data directory
        uses: actions/download-artifact@v4
        with:
          name: data
          path: data
      - name: Install dependencies
        run: uv sync --all-extras
      - name: Run tests with code coverage
        run: uv run pytest --cov -n auto
